@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    --color-background: rgb(3, 2, 14);
    --font-color: #ffff;
    --dark-color: #000000;
    --title-color: hsl(48, 100%, 90%);
    --color-highlight: chocolate;
    --color-board-bg: hsla(244, 40%, 15%, 0.6);
    --color-board-bg-hover: hsla(244, 40%, 21%, 0.6);
    --color-win: hsl(140, 91%, 32%);
    --color-modal-bg: hsla(244, 40%, 21%);
    --draw-color: hsla(244, 40%, 21%);
    --player-x-color: hsl(48, 100%, 90%);
    --player-o-color: hsl(25, 75%, 49%);
    --overlay-color: hsla(244, 40%, 15%, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background);
    color: var(--font-color);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1366px;
    margin: auto;
    padding: 1.5rem 1rem;
}

.title {
    text-align: center;
    margin-bottom: 25px;
    cursor: default;
}

.title_part {
    font-size: 4rem;
    color: var(--title-color);
}

.title_part:first-child,
.title_part:last-child {
    color: var(--color-highlight);
}

.interface {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 485px;
    margin: auto;
}

.score-board {
    display: flex;
    gap: 15px;
    margin: auto;
}

.score-board_box {
    background-color: var(--draw-color);
    place-content: center;
    text-align: center;
    width: 140px;
    height: 120px;
    border-radius: 0.3rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: default;
}

.score-board_box:first-child {
    background-color: var(--player-x-color);
    color: var(--dark-color);
}

.score-board_box:last-child {
    background-color: var(--player-o-color);
    color: var(--dark-color);
}

.score-board_points {
    font-size: 2rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    gap: 15px;
    margin: auto;
    margin-top: 13px;
}

.board_box {
    background-color: var(--color-board-bg);
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    border-radius: 0.3rem;
    font-size: 4rem;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.empty:hover {
    background-color: var(--color-board-bg-hover);
}

.display-events {
    margin: auto;
    width: 100%;
    max-width: 480px;
}

.win-message {
    background-color: var(--color-win);
    padding: 10px;
    border-radius: 0.32rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: default;
}

.win-message span {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.turn-display {
    width: 100%;
    background-color: var(--player-x-color);
    color: black;
    padding: 12px 0;
    border-radius: 0.3rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    cursor: default;
    gap: 5px;
}

.turn-display span {
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
}

.btn--new-game {
    padding: 15px;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    border-radius: 0.32rem;
    background-color: white;
    cursor: pointer;
}

/* modal */
@keyframes fadeIn {
    from {
        opacity: 0;
        top: 50px;
    }
    to {
        opacity: 100%;
    }
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    backdrop-filter: blur(1.3px);
    display: none;
    place-items: center;
}

.modal {
    background-color: var(--color-modal-bg);
    padding: 10px;
    width: 100%;
    max-width: 400px;
    height: 240px;
    border-radius: 0.32rem;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal p strong {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-shadow: 3px 2px 2px rgb(20, 0, 69);
}

.modal_buttons {
    display: flex;
    gap: 20px;
}

.modal-btn {
    border: none;
    border-radius: 0.3rem;
    width: 7.5rem;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.modal-btn:hover {
    color: white;
}

.modal--btn-yes:hover {
    background-color: var(--color-highlight);
}

.modal--btn-no:hover {
    background-color: var(--color-win);
}

/* Script added */
@keyframes borderSlide {
    0% {
        transform: rotateY(45deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    75% {
        transform: rotateY(135deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

.winCombination {
    animation: borderSlide 0.3s linear;
    animation-fill-mode: forwards;
    border: 2px solid hsl(140, 91%, 32%);
    background-color: hsla(140, 40%, 15%, 0.3);
}

.overlayAnim {
    animation: fadeIn 0.2s ease-out;
    animation-fill-mode: forwards;
    display: grid;
}
